.button
  border none
  border-radius 3px
  box-shadow 0px 3px 5px rgba(0, 0, 0, 0.1)
  cursor pointer
  padding 15px
  font-weight bold
  font-size 1em
  margin 0px 3px

#button-group
  position fixed
  width 100%
  left 0
  bottom 20px
  text-align center
