.quotes
  font-size 1.5em
  margin 0
  padding 0
  list-style none

.quote
  padding 20px

  &:first-of-type
    font-weight bold
    font-size 2em

.quote-enter
  opacity 0.25

.quote-enter.quote-enter-active
  opacity 1
  transition opacity .35s ease-in
