@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

body
  background #F4D03F
  color rgba(0, 0, 0, 0.75)
  font-family Ubuntu, sans-serif
  font-weight 400
  overflow none

.wrapper
  display block
  height 100%
  width 100%
  left 0
  top 0
  position absolute
  overflow-y auto
